table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
}
table th,
td {
  border-collapse: collapse;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h4 {
  margin: auto;
  text-align: center;
  padding-top: 3%;
}
.country-table {
  margin-top: 3%;
}
.Link {
  text-decoration: none;
  color: white;
}
.country-btn {
  border-radius: 30px;
  border: none;
  background-color: rgb(74, 28, 184);
  padding: 3px 20px 3px 20px;
  margin: auto;
  position: relative;
  left: 72%;
}
.Link:hover {
  color: white;
}
.form-labels {
  padding-right: 2%;
  font-family: none;
}
.select-opt {
  margin-right: 2%;
}
.input-field {
  margin-top: 20px;
}
.dropdown-form {
  margin-top: 20px;
}
.submit-btn {
  border: none;
}
