table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
}
table th,
td {
  border-collapse: collapse;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h4 {
  margin: auto;
  text-align: start;
  padding-bottom: 3%;
  padding-top: 3%;
}
.country-table {
  margin-top: 3%;
}
.Link {
  text-decoration: none;
  color: white;
}
.country-btn {
  border-radius: 30px;
  border: none;
  background-color: rgb(74, 28, 184);
  padding: 3px 20px 5px 20px;
  margin: auto;
  position: relative;
  left: 72%;
}
.Link:hover {
  color: white;
}
.form-labels {
  padding-right: 2%;
  font-family: none;
}
.select-opt {
  margin-right: 2%;
}
.input-field {
  margin-top: 20px;
}
.dropdown-form {
  margin-top: 20px;
}
.submit-btn {
  border: none;
}
.country-details {
  margin-top: 30px;
}

.link-btn {
  text-decoration: none;
  color: white;
}
.form-field {
  text-align: start;
  margin-top: 1%;
}
.form-label {
  display: inline-block;
  width: 130px;
  text-align: start;
}
.submit-btn {
  border-radius: 16px;
  background-color: rgb(26, 88, 221);
  color: white;
  padding: 3px 15px 4px 15px;
  margin-left: 0px;
}

.back-btn {
  border-radius: 30px;
  border: none;
  background-color: rgb(241, 7, 77);
  padding: 5px 18px 5px 18px;
  position: relative;
  left: 1%;
  color: white;
}
.btn-class {
  position: relative;
  left: 13%;
  margin-top: 20px;
}
.input-box {
  line-height: 20px;
}
